/* layout */
$screen: 900px;
$bg-pattern: url("../../../images/bg-pattern-desktop.svg");
$img-desktop: url("../../../images/hero-desktop.jpg");
$img-mobile: url("../../../images/hero-mobile.jpg");
$radius: 100px;

/* colors */
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);
$light-linear: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$medium-linear: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

/* typography */
$family: 'Josefin Sans', sans-serif;
$text-size: 1em;
$title-size: calc(4 * #{$text-size});
$title-size-mobile: calc(3 * #{$text-size});
$light-weight: 300;
$regular-weight: 400;
$semibold-weight: 600;

body {
  font-family: $family;
  color: $dark-grayish-red;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
  background: $bg-pattern no-repeat center;
  background-size: cover;
  height: 100vh;
}

.logo {
  width: 9em;
  margin: 4em 0 4em 0;
}

.block-image-mobile {
  display: none;
}

.block-content {
  padding: 0 8em 0 8em;
}

.title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: $title-size;
  margin-bottom: 0;
}

.light {
  font-weight: $light-weight;
  color: $desaturated-red;
}

.bold {
  font-weight: $semibold-weight;
  color: $dark-grayish-red;
}

.block-email {
  width: 26em;
}

.text {
  color: $desaturated-red;
  margin: 1em 0 2.5em 0;
}

.form-email {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.input-email {
  padding: 1.3em 2em 1.3em 2em;
  border-radius: $radius;
  border: 1px solid $desaturated-red;
  width: 100%;
}

::placeholder {
  color: $desaturated-red;
}

.btn-email {
  border-radius: $radius;
  border-style: none;
  background-image: $medium-linear;
  padding: 1.1em;
  width: 7em;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.btn-email:active {
  background-image: $light-linear;
  box-shadow: #ccc 0 0 10px;
}

.error-icon {
  right: 6.5em;
  position: absolute;
  align-self: center;
}

.error-msg {
  color: $soft-red;
  font-size: 13px;
  padding-left: 2em;
}

.block-image-desktop {  
  background: $img-desktop no-repeat center;
  background-size: cover;
}

.footer {
  margin-top: 2em;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
}
    
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: $screen) {
  .container {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .logo {
    width: 7em;
    margin: 2em 0 2em 0;
    padding-left: 2em;
  }

  .block-image-mobile {
    display: block;
    background: $img-mobile no-repeat center;
    background-size: cover;
    height: 300px;
  }

  .block-image-desktop {
    display: none;
  }

  .block-content {
    padding: 0;
  }
  
  .title {
    font-size: $title-size-mobile;
    margin-top: 1em;
    text-align: center;
  }

  .text {
    text-align: center;
    margin: 2em 2em;
  }

  .form-email {
    margin: 2em 2em;
  }

  .footer {
    margin-top: 5em;
  }
}